.button-hover-effect-target {
  margin-left: 2px;
  margin-right: 8px;
}

.button-hover-effect-listener:hover .button-hover-effect-target {
  margin-left: 8px;
  margin-right: 2px;
  transition-property: margin-left, margin-right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}