/* Blockquote */

blockquote {
  border-color: rgba(var(--foreground-rgb), 0.4);
  @apply my-4 sm:my-8 p-4 pl-4 sm:pl-8 border-l-4
}

blockquote > *:first-child {
  @apply mt-0
}

blockquote > *:last-child {
  @apply mb-0
}

blockquote > p > cite {
  margin-top: 16px;
  display: block;
  font-style: italic;
}