@use './fonts.scss';

html,
body {
  margin: 0;
  padding: 0;

  body {
    font-size: 18px;
    line-height: 1.4;

    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;

    margin: 0;
    padding: 0;
  }
}

.bg-homepage {
  font-family: 'ms-dos-ank24', sans-serif;
  background-image: url('/bg-images/redsparkle.gif');
  background-color: #6b0000;
  min-height: 100vh;
  padding-top: 0.01px;
}

.bg-portfolio {
  font-family: 'ms-dos-ank24', 'Times New Roman', Times, serif;
  background-image: url('/bg-images/clouds.gif');
  min-height: 100vh;
  padding-top: 0.01px;
}

.bg-blog {
  background-color: white;
  min-height: 100vh;
  padding-top: 0.01px;
}

.bg-recipes {
  background-image: url('/bg-images/sun-face.gif');
  min-height: 100vh;
  padding-top: 0.01px;
}

.bg-about {
  font-family: 'ms-dos-ank24', sans-serif;
  background-image: url('/bg-images/bluegreen-fabric.gif');
  min-height: 100vh;
  padding-top: 0.01px;
}

.bg-not-found {
  background-color: #3b1e00;
  background-image: url('/bg-images/dirt.gif');
  min-height: 100vh;
  padding-top: 0.01px;
}

code {
  display: inline-block;
}
