@tailwind base;
@import "./syntax-highlighting.css";
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 238, 238, 245;
  --tile-background-rgb: 228, 228, 235;
  /* --primary-blue-rgb: 31, 106, 214; */
  --primary-blue-rgb: 33, 81, 145;
  --primary-blue-on-code-rgb: 82, 157, 250;
  --code-bg-color-rgb: 255, 255, 255;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 14, 20, 24;
    --tile-background-rgb: 25, 36, 44;
    --primary-blue-rgb: 96, 165, 250;
    --primary-blue-on-code-rgb: 7, 104, 223;
    --code-bg-color-rgb: 33, 33, 33;
  }
}

:root * {
  transition: opacity 0.12s ease-in-out, color 0.12s ease-in-out;
  -webkit-transition: opacity 0.12s ease-in-out, color 0.12s ease-in-out;
  -moz-transition: opacity 0.12s ease-in-out, color 0.12s ease-in-out;
  -o-transition: opacity 0.12s ease-in-out, color 0.12s ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-inter);
}

.main-content {
  min-height: calc(100vh - 72px);
}

.footer {
  height: 72px;
}

/* Utility */
.blue-link {
  @apply text-primary-blue hover:text-foreground hover:opacity-40
}

p .blue-link, li .blue-link {
  padding: 1px 4px;
  @apply bg-tile-color rounded-md
}