:root {
  --homepage-text-color: white;
  --homepage-link-text-hover-outline-color: black;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  image-rendering: pixelated;
  color: var(--homepage-text-color);
}

.main-site-header {
  margin: 24px 16px;
  display: flex;
  gap: 0px 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.welcome-message {
  font-size: 20px;
  text-align: center;
}

.webring-container {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-footer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 720px;
  margin-top: 32px;
  margin-bottom: 24px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

:root {
  --link-circle-radius: 190px;
}

.homepage-link-wrapper {
  max-width: calc(2 * var(--link-circle-radius));
  height: calc(3 * var(--link-circle-radius));
  margin: auto;
  margin-top: 0px;

  position: relative;
  border-radius: 50%;
  /* border: 1px solid black; */
}

.homepage-link-wrapper > * {
  position: absolute;
  width: 200px;
  left: calc(50% - 100px);
  height: 200px;
  top: calc(50% - 100px);
  /* border: 2px dotted #000000; */
  border-radius: 30%;
}

.homepage-link-wrapper > *:nth-child(1) {
  transform: rotate(270deg) translateX(var(--link-circle-radius)) rotate(-270deg);
}

.homepage-link-wrapper > *:nth-child(2) {
  transform: rotate(330deg) translateX(var(--link-circle-radius)) rotate(-330deg);
}

.homepage-link-wrapper > *:nth-child(3) {
  transform: rotate(30deg) translateX(var(--link-circle-radius)) rotate(-30deg);
}

.homepage-link-wrapper > *:nth-child(4) {
  transform: rotate(90deg) translateX(var(--link-circle-radius)) rotate(-90deg);
}

.homepage-link-wrapper > *:nth-child(5) {
  transform: rotate(150deg) translateX(var(--link-circle-radius)) rotate(-150deg);
}

.homepage-link-wrapper > *:nth-child(6) {
  transform: rotate(210deg) translateX(var(--link-circle-radius)) rotate(-210deg);
}

@media screen and (max-width: 500px) {
  .homepage-link-wrapper {
    margin-top: 0px;
    height: fit-content;
  }

  .homepage-link-wrapper > * {
    position: relative;
    top: 0;
    height: 124px;
  }

  .homepage-link-wrapper > * > * {
    position: relative;
    top: 0;
    width: min-content;
  }

  .homepage-link-wrapper > *:nth-child(1) {
    transform: none;
  }

  .homepage-link-wrapper > *:nth-child(2) {
    transform: none;
  }

  .homepage-link-wrapper > *:nth-child(3) {
    transform: none;
  }

  .homepage-link-wrapper > *:nth-child(4) {
    transform: none;
  }

  .homepage-link-wrapper > *:nth-child(5) {
    transform: none;
  }

  .homepage-link-wrapper > *:nth-child(6) {
    transform: none;
  }
}
