.posts-section-layout-container {
  font-family: "Winky Rough", sans-serif;
  font-weight: 200;
  font-size: 20px;
  max-width: 740px;
  margin: 64px auto;
}

.post-wrapper {
  background-color: #f4f4f4;
  color: black;
  padding: 0 16px;
}

/* TODO - use for recipes */
/* .recipe-wrapper {
  background-color: #fff8ee;
  color: black;
  box-shadow: 8px 8px 8px #fff8ee,
    8px -8px 8px #fff8ee,
    -8px 8px 8px #fff8ee,
    -8px -8px 8px #fff8ee;
  padding: 24px;
} */

.posts-section-layout-container h1 {
  margin: 0;
}

/* todo - should probably start using sass tbh */
.posts-section-layout-container h1,
.posts-section-layout-container h2, 
.posts-section-layout-container h3, 
.posts-section-layout-container h4, 
.posts-section-layout-container h5, 
.posts-section-layout-container h6 {
  font-weight: 400;
}