.nav {
  margin: 16px 0 32px 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-content: center;
}

.nav .name {
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 0;
}

.nav-link-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 12px;
  margin: 0;
}

.nav-and-main-container {
  flex: 1;
}

.footer {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.footer .text {
  opacity: 70%;
  margin-bottom: 6px;
}

.footer-web-button-container {
  display: flex;
  gap: 8px;
}