.nav {
  margin: 16px 0 32px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav .name {
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 0;
}

.nav-link-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 0;
}

.footer {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-web-button-container {
  display: flex;
  gap: 8px;
}