:root {
  --border-radius: 0.5rem;
  --border-style: 1px solid rgb(64, 64, 64);
  --code-bg-color-rgb: 31, 31, 31;
}

pre, code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1rem;
}

@media (min-width: 576px) {
  pre, code {
    font-size: inherit;
    line-height: 1.35rem;
  }
}

div[data-rehype-pretty-code-fragment] {
  overflow: hidden;
 
  /* stylist preferences */
  background-color: rgb(var(--code-bg-color-rgb));
  border-radius: var(--border-radius);
  border: var(--border-style);

  @apply my-6 sm:my-12
}
 
div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
 
  /* stylist preferences */
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.875rem;
  line-height: 1.5rem;


  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

div[data-rehype-pretty-code-title] {
  /* stylistic preferences */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 400;
  border-bottom: var(--border-style);
  background-color: rgb(31, 31, 31);
  padding: 0.5rem 0.6rem;
  font-size: 0.9rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.85);
}

div[data-rehype-pretty-code-fragment] > pre > code > span {
  /* stylistic preferences */
  padding-left: 0.45rem;
  padding-right: 0.6rem;
 
  border-left-width: 3px;
  border-left-color: transparent;
}
 
div[data-rehype-pretty-code-fragment] .line--highlighted {
  border-left-color: rgb(var(--primary-blue-on-dark-rgb));
  background-color: rgba(var(--primary-blue-on-dark-rgb), 0.16);
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}
 
code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;
 
  /* stylistic preferences */
  margin-right: 0.75rem;
  width: 1rem;
  color: rgb(255 255 255 / 0.2);
}

/* Inline code */
code .line {
  background-color: rgb(var(--code-bg-color-rgb));
  border: var(--border-style);
  font-size: 0.85rem;
  @apply py-1 px-2 mx-0 leading-none rounded-md inline-block
}