/* Config pulled directly from rehype-pretty-code docs for support for multiple themes  */

[data-theme*='light'],
[data-theme*='light'] span {
  color: var(--shiki-light);
}

:root {
  --border-radius: 0.5rem;
  --border-style: 1px solid rgb(110, 110, 110);
  --font-color: rgb(66, 65, 65);

  --primary-blue-on-code-rgb: 0, 140, 255;
}

pre, code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 400;
  line-height: 1.1rem;
  margin: 0;
}

figure {
  margin: 0;
}

figure[data-rehype-pretty-code-figure] {
  overflow: hidden;
 
  background-color: rgb(var(--code-bg-color-rgb));
  border-radius: var(--border-radius);
  border: var(--border-style);
}
 
figure[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
 
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 13px;
  line-height: 1.1rem;


  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

figure[data-rehype-pretty-code-figure] figcaption {
  /* stylistic preferences */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 400;
  border-bottom: var(--border-style);
  background-color: rgb(var(--code-bg-color-rgb));
  padding: 6px 8px;
  font-size: 13px;
  line-height: 1rem;
  color: var(--font-color);
}

figure[data-rehype-pretty-code-figure] > pre > code > span {
  /* stylistic preferences */
  padding-left: 0.45rem;
  padding-right: 0.6rem;
 
  border-left-width: 3px;
  border-left-color: transparent;
}
 
figure[data-rehype-pretty-code-figure] .line--highlighted {
  border-left-color: rgb(var(--primary-blue-on-code-rgb));
  background-color: rgba(var(--primary-blue-on-code-rgb), 0.13);
}

figure[data-rehype-pretty-code-figure] code {
  display: grid;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}
 
code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;
 
  /* stylistic preferences */
  margin-right: 0.75rem;
  width: 1rem;
  color: rgb(255 255 255 / 0.2);
}

/* Inline code */
span[data-rehype-pretty-code-figure] code > span {
  height: min-content;
  background-color: rgb(var(--code-bg-color-rgb));
  border: var(--border-style);
  font-size: 13px;
  line-height: 2;
  color: var(--font-color);

  padding: 1.5px 5px;
  border-radius: 6px;

  margin: 8px 0px;
}

span[data-rehype-pretty-code-figure] code::before {
  content: " ";
  width: 2px;
  display: inline-block;
}
span[data-rehype-pretty-code-figure] code::after {
  content: " ";
  width: 2px;
  display: inline-block;
}
