/* Config pulled directly from rehype-pretty-code docs for support for multiple themes  */

[data-theme*='light'],
[data-theme*='light'] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
 
@media (prefers-color-scheme: dark) {
  [data-theme*='dark'],
  [data-theme*='dark'] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

/* */

:root {
  --border-radius: 0.5rem;
  --border-style: 1px solid rgb(64, 64, 64);
}

pre, code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 400;
  line-height: 1.1rem;
  margin: 0;
}

span code {
  padding: 2px 4px;
  border-radius: 6px;
}

@media (min-width: 576px) {
  pre, code {
    font-size: inherit;
    line-height: 1.35rem;
  }
}

figure {
  margin: 0;
}

figure[data-rehype-pretty-code-figure] {
  overflow: hidden;
 
  /* stylist preferences */
  background-color: rgb(var(--code-bg-color-rgb));
  border-radius: var(--border-radius);
  border: var(--border-style);
}
 
figure[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
 
  /* stylist preferences */
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.75rem;
  line-height: 1.1rem;


  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media (min-width: 576px) {
  figure[data-rehype-pretty-code-figure] pre {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

figure[data-rehype-pretty-code-figure] figcaption {
  /* stylistic preferences */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 400;
  border-bottom: var(--border-style);
  background-color: rgb(var(--code-bg-color-rgb));
  padding: 0.5rem 0.6rem;
  font-size: 0.9rem;
  line-height: 1rem;
}

figure[data-rehype-pretty-code-figure] > pre > code > span {
  /* stylistic preferences */
  padding-left: 0.45rem;
  padding-right: 0.6rem;
 
  border-left-width: 3px;
  border-left-color: transparent;
}
 
figure[data-rehype-pretty-code-figure] .line--highlighted {
  border-left-color: rgb(var(--primary-blue-on-code-rgb));
  background-color: rgba(var(--primary-blue-on-code-rgb), 0.16);
}

figure[data-rehype-pretty-code-figure] code {
  display: grid;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}
 
code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;
 
  /* stylistic preferences */
  margin-right: 0.75rem;
  width: 1rem;
  color: rgb(255 255 255 / 0.2);
}

/* Inline code */
span[data-rehype-pretty-code-figure] code {
  background-color: rgb(var(--code-bg-color-rgb));
  border: var(--border-style);
  font-size: 0.85rem;
  @apply py-1 px-2 mx-0 leading-none rounded-md inline-block
}
