.postcard {
  margin: 16px 0;
  display: flex;
  align-items: start;
  justify-content: start;
}

.postcard time {
  min-width: 120px;
  margin-right: 24px;
  padding-top: 5px;
}

.postcard > * {
  display: inline-block;
}