.postcard {
  margin: 16px 0;
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: #f4f4f4;
}

.postcard time {
  min-width: 100px;
  margin-right: 50px;
  padding-top: 2px;
}

.postcard > * {
  display: inline-block;
}