.recipe-layout-container {
  font-family: "IM Fell Double Pica", sans-serif;
  font-weight: 200;
  font-size: 18px;
  max-width: 680px;
  margin: 32px auto 64px;
  padding: 0;

  nav {
    max-width: 440px;
    margin: auto;
    margin-bottom: 48px;
  }

  ul.nav-links {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px 48px;
  }

  h1 {
    margin: 0;
  }

  h1,
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    font-weight: 400;
  }

  @media screen and (min-width: 600px) {
    font-size: 20px;
    .recipe-wrapper {
      padding: 24px;
    }
  }
}

.recipe-list {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipe-link {
  display: block;
  font-size: 22px;
}

.secondary-text {
  opacity: 70%;
}

.paper-effect {
  background-color: white;
  color: #333;
  box-shadow: 8px 8px 8px white,
    8px -8px 8px white,
    -8px 8px 8px white,
    -8px -8px 8px white;
}

.recipe-wrapper {
  margin-top: 48px;
  padding: 16px;
  margin-bottom: 32px;
}