.tile-comp {
  width: calc(100%);
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .tile-comp {
    width: calc(50% - 8px);
    margin-bottom: 0;
  }
}

.tile-comp-description > a {
  @apply underline font-normal text-foreground
}

.tile-comp-description > a:hover {
  @apply  text-link-hover decoration-link-hover;
}