
.portfolio-page-container {
  max-width: 1200px;
  margin: auto;
}

.header-card {
  text-align: center;
  margin: 48px auto 0;
  max-width: 560px;

  > * {
    padding: 12px;
    background-color: white;
    border: 4px solid black;
    margin: 0 16px;

    > * {
      margin: 0;
    }
  }
}

.sticky-note-container {
  font-family: "Winky Rough", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin-top: 48px;

  h2 {
    font-size: 22px;
    font-weight: 500;
  }

  p {
    font-size: 19px;
    font-weight: 300;
  }

  > * {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.83);
    background: #ffffd2;
    display: block;
    height: 230px;
    width: 230px;
    padding: 16px;
    margin: 32px;
    border: 1.5px solid rgba(33, 33, 33, 0.3);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.72);
    transition: transform 0.15s linear, box-shadow 0.15s linear;
    position: relative;

    /* Color and rotation variations */
    &:nth-child(odd) {
      transform: rotate(-5deg);
    }
    &:nth-child(even) {
      transform: rotate(3deg);
      top: 5px;
      background: #d2ffd2;
    }
    &:nth-child(3n) {
      transform: rotate(-2deg);
      top: -5px;
      background: #d2d2ff;
    }
    &:nth-child(5n) {
      transform: rotate(4deg);
      top: -10px;
    }

    /* Hover/focus styling */
    /* &:hover {
      transform: scale(1.25) rotate(0deg);
      box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.72);
      z-index: 5;
    } */

    /* Reset inner spacing */
    > * {
      margin: 0;
    }
  }

  a {
    color: #0045f4;
  }
}
