@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem 
}

h4 {
  font-size: 1.4rem 
}

h5 {
  font-size: 1.2rem 
}

h6 {
  font-size: 1rem 
}

p {
  font-size: 1rem;
  font-weight: normal;
}

/* Utility */
.blue-link {
  @apply text-blue-700 hover:text-blue-900 dark:text-blue-400;
}
