@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 246, 248;
  --code-background-rgb: 31, 31, 31;
  --tile-background-rgb: 219, 220, 222;
  --primary-blue-rgb: 37, 100, 235;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root *:hover {
  transition-property: color;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-transition:0.20s;
  -moz-transition:0.20s;
  -o-transition:0.20s;
  transition:0.20s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 15, 18, 24;
    --tile-background-rgb: 27, 38, 51;
    --primary-blue-rgb: 96, 165, 250;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.main-content {
  min-height: calc(100vh - 72px);
}

.footer {
  height: 72px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  @apply leading-9
}

h1, h2, h3, h4, h5, h6, p, .formatted-code-block {
  @apply my-4
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}

h3 {
  @apply text-xl
}

h4 {
  @apply text-base
}

h5 {
  @apply text-sm
}

h6 {
  @apply text-xs
}

p {
  font-weight: normal;
  @apply text-lg
}

.project-item {
  width: calc(100%);
  margin-bottom: 16px;
  @apply bg-tile-blue p-6 rounded-md
}

@media (min-width: 576px) {
  .project-item {
    width: calc(50% - 8px);
    margin-bottom: 0;
  }
}

.project-item-description > a {
  @apply underline
}

.project-item-description > a:hover {
  @apply  text-primary-blue decoration-primary-blue;
}

/* Utility */
.blue-link {
  @apply text-primary-blue hover:opacity-60;
}

.clickable-text-decorator {
  @apply hover:text-primary-blue
}

.project-image {
  @apply rounded-xl
}

/* pre {
  background: rgb(var(--code-background-rgb));
  @apply mx-0 my-4 p-4 font-mono text-sm rounded-md w-full text-white
} */

/* TODO - create tile component */

.tile-background {
  background-color: rgb(var(--tile-background-rgb));
  width: calc(100vw);
  margin-left: -16px;
  margin-right: -16px;
  @apply my-4 p-8
}

.tile-background > *:first-child {
  @apply mt-0
}

.tile-background > *:last-child {
  @apply mb-0
}

@media (min-width: 376px) {
  .tile-background {
    width: calc(100% + 64px);
    margin-left: -32px;
    margin-right: -32px;
    @apply rounded-md
  }
}