.main-tweet-link-container {
  color: white;
  text-decoration: none;
}

.twitter-tweet {
  border-left: none;
  border: 2px solid white;
  border-radius: 8px;
  padding: 16px;
  margin: 24px 0;
  
  color: white;
  text-decoration: none;
}

.tweet-author, .tweet-date {
  display: block;
}

.tweet-author {
  margin-bottom: 0;
}

.tweet-date {
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 8px;
}