.blog-layout-container {
  font-family: 'Libertinus Serif', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  max-width: 548px;
  margin: 32px auto 64px;
  padding: 0 16px;
}

.blog-layout-container a {
  color: #0058d3;
}

.blog-layout-container ul.nav-links {
  font-size: 16px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px 24px;
  margin: 32px auto 24px;
  padding: 0;
}

.post-wrapper {
  color: #222222;
}

.secondary-text {
  opacity: 70%;
  font-size: 90%;
}

.blog-layout-container h1 {
  margin: 0;
}