.blog-layout-container {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  max-width: 680px;
  margin: 32px auto 64px;
  padding: 0 16px;
}

.blog-layout-container a {
  color: #0058d3;
}

.blog-layout-container ul.nav-links {
  font-size: 15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px 24px;
  margin: 32px auto 24px;
}

.post-wrapper {
  color: black;
}

.secondary-text {
  opacity: 70%;
  font-size: 80%;
}

.blog-layout-container h1 {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .blog-layout-container {
    font-size: 19px;
  }
  .blog-layout-container ul.nav-links {
    font-size: 17px
  }
}