.blog-layout-container {
  font-family: 'Libertinus Serif', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  max-width: 548px;
  margin: 32px auto 64px;
  padding: 0 16px;
}

.blog-layout-container a {
  color: #0058d3;
}

.blog-layout-container ul.nav-links {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px 24px;
  margin: 32px auto 24px;
  padding: 0;
}

.post-wrapper {
  color: #222222;
}

.secondary-text {
  opacity: 70%;
}

.blog-layout-container h1 {
  margin: 0;
}

/* Code formatting */
.blog-layout-container code, .blog-layout-container pre {
  font-family: Courier, monospace;
  font-size: 15px;
  max-width: 100%;
  overflow: auto;
  background-color: #f0f0f0;
}

.blog-layout-container code {
  padding: 2px 4px;
  margin: 0px 2px;
  border-radius: 3px;
  display: inline;
  line-break: break-word;
  line-height: inherit;
}

.blog-layout-container pre {
  padding: 12px;
  border-radius: 6px;
  line-height: 1.2;
}

.blog-layout-container pre code {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 13px;
}