.pizza-calculator {
  padding: 16px;
  max-width: 700px;
  margin: auto;
  font-family: 'ms-dos-ank24', sans-serif;
  font-size: 18px;

  input,
  option,
  select {
    font-size: 18px;
    font-family: 'ms-dos-ank24', sans-serif;
  }

  label,
  .label {
    display: inline-block;
    min-width: 110px;
    text-align: right;
    padding-right: 16px;
  }

  input {
    width: 80px;
  }

  .header {
    padding: 16px 8px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    margin: 32px auto;
    > * {
      margin: 0;
      padding: 0;
    }
  }

  .individual-pizza {
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    padding: 12px;

    label {
      margin-right: 8px;
    }

    > *:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .add-pizza-button {
    background-color: white;
    border: 2px solid black;
    font-size: 24px;
    padding: 8px;
    text-align: center;
    :hover {
      opacity: 70%;
    }
  }

  .unit-cost {
    padding-left: 8px;
  }

  /* Chrome, Safari, Edge */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
