.pizza-calculator {
  padding: 16px;
  max-width: 480px;
  margin: auto;
  font-family: 'Libertinus Serif', serif;
  font-size: 18px;

  input,
  option,
  select {
    font-size: 18px;
    font-family: 'Libertinus Serif', serif;
  }

  /* Generic form row */
  .form-row {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  label,
  .label {
    flex: 0 0 120px; // fixed label width
    text-align: right;
  }

  input,
  select {
    flex: 1;
    max-width: 120px;
  }

  .header {
    padding: 16px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    margin: 32px auto 16px;

    > * {
      margin: 0;
      padding: 0;
    }
  }

  .individual-pizza {
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    padding: 12px;

    > *:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .add-pizza-button {
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  /* Remove number spinners */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
